<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-3 pb-5 sm:pt-6 sm:pb-20 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-2xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Patient Details
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button mat-stroked-button style="color: #09a8f3;" *ngIf="hideandshow" (click)="newClick()">
                <mat-icon style="color: #09a8f3;" class="icon-size-5 mr-2" [svgIcon]="'mat_solid:add_task'"></mat-icon>
                Existing Patient
            </button>
            <button mat-stroked-button style="color: #d40040;" *ngIf="!hideandshow" (click)="newClick()">
                <mat-icon style="color: #d40040;" class="icon-size-5 mr-2"
                    [svgIcon]="'mat_outline:arrow_back'"></mat-icon>
                Exit
            </button>

            <button class="ml-3" mat-flat-button style="color: #0075d4;" [matMenuTriggerFor]="menu">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'mat_solid:library_add'"></mat-icon>
                Add New Patient
            </button>

            <mat-menu #menu="matMenu" class="rounded-2xl" xPosition="before">
                <button mat-menu-item (click)="openDialog()">
                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'mat_solid:person_add_alt_1'"></mat-icon>Individual
                </button>
                <button mat-menu-item (click)="openDialogNew()"> <mat-icon class="icon-size-5 mr-2"
                        [svgIcon]="'mat_solid:note_add'"></mat-icon>New Registration </button>
            </mat-menu>
        </div>
    </div>

    <!-- Main -->
    <div *ngIf="hideandshow" class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow overflow-y-auto bg-card"
        cdkScrollable>
        <div class="card-body">
        <div class="row">
            <!-- <div class=" col-sm-3">
                <mat-form-field appearance="outline" class="search-field">
                    <mat-label> IC#</mat-label>
                    <input matInput [(ngModel)]="objload.HRN" (keyup)="applyFilter($event.target.value)"
                        placeholder="Name,HRN">
                </mat-form-field>
            </div> -->
            <form name="searchForm" class="form-inline" novalidate>
                <button mat-button color="primary" type="reset">
                    Reset
                </button>
                <button mat-button color="primary" type="submit">
                    Search
                </button>
                <div class="row">
                    <div class=" col-3 grid-item">
                        <mat-form-field appearance="outline" >
                            <mat-label>HRN</mat-label>
                            <input matInput  [(ngModel)]="patientData" (change)="searchfield()"
                                placeholder="HRN">
                        </mat-form-field>
                    </div>
                    <div class=" col-3 grid-item">
                        <mat-form-field appearance="outline" >
                            <mat-label>IDNO</mat-label>
                            <input matInput  [(ngModel)]="patientData" (change)="searchfield()"
                                placeholder="ID No">
                        </mat-form-field>
                    </div>
                    <div class=" col-3 grid-item">
                        <mat-form-field appearance="outline">
                            <mat-label>IDTYPE</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let patienttype of pt"[value]="patienttype">{{patienttype.SHORTDESC}}

                                </mat-option>
                            </mat-select>
                         
                        </mat-form-field>
                    </div>
                    <div class=" col-8 grid-item">
                        <mat-form-field appearance="outline" >
                            <mat-label>NAME</mat-label>
                            <input matInput  [(ngModel)]="patientName" (keyup)="searchfields()"
                                placeholder="Name">
                        </mat-form-field>
                    </div>
                    <div class=" col-3 grid-item">
                        <mat-form-field appearance="outline">
                            <mat-label>TELEPHONE</mat-label>
                            <input matInput  
                                placeholder="Phone No">
                        </mat-form-field>
                    </div>
                </div>
            </form>
            </div>
        </div>
        &nbsp; &nbsp;
        <div class="row">
            <div class="table-container" id="table">
                <mat-table [dataSource]="patientlist" class="mat-elevation" style="background-color: #f5faff;;">

                    <ng-container matColumnDef="HRN_No">
                        <mat-header-cell *matHeaderCellDef> ID No 
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.HRN}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.NAME}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="DOB">
                        <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.DOB | date :"dd/MM/yyyy"}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Sex">
                        <mat-header-cell *matHeaderCellDef> Sex </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.SEX == '9' ? 'Male' : 'Female'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Speaking_English">
                        <mat-header-cell *matHeaderCellDef> Speak Eng </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.SPEAKENGLISH == 'Y' ? 'Yes' : 'No'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" matTooltip="View this row" id="iconTableButton"
                                [matTooltipClass]="' custom-tip '">
                                <mat-icon aria-label="View this row" class="f-14">
                                    remove_red_eye
                                </mat-icon>
                            </button>
                            <button mat-icon-button color="accent" matTooltip="Edit this row" id="iconTableButton"
                                [matTooltipClass]="'custom-tip'">
                                <mat-icon aria-label="Edit this row" class="f-14">
                                    edit
                                </mat-icon>
                            </button>
                            <button mat-icon-button color="warn" matTooltip="Delete this row" id="iconTableButton"
                                [matTooltipClass]="'custom-tip'">
                                <mat-icon aria-label="Delete this row" class="f-14">
                                    delete
                                </mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>


    </div>
    <!-- ******************************************************************************************************************** -->
    <div *ngIf="!hideandshow" class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow overflow-y-auto bg-card"
        cdkScrollable>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <div class="col-sm-8">
                <button mat-stroked-button style="color: #d40040;">
                    <mat-icon style="color: #d40040;" class="icon-size-5 mr-2"
                        [svgIcon]="'mat_outline:delete'"></mat-icon>
                    Discard
                </button>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2 right">
                <button mat-stroked-button style="color: #179c7b;">
                    <mat-icon style="color: #179c7b;" class="icon-size-5 mr-2"
                        [svgIcon]="'mat_outline:save_alt'"></mat-icon>
                    Finalize
                </button>
            </div>
        </div>


        <div class="row Top">
            <mat-card class=" rounded-2xl ">
                <mat-card-content>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <label id="labelDis" for="label">IC#</label>
                                <input id="ic#" type="text" class="form-control" aria-describedby="emailHelp"
                                    maxlength="100" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label id="labelDis" for="label"><strong></strong></label>
                                <select id="branch" class="form-select" aria-label="Default select example">
                                    <option disabled [value]=0>-- select --</option>

                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label id="labelDis" for="label">HRN</label>
                                <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                    maxlength="100" autocomplete="off">
                            </div>
                            <div class="col-sm-3 ">
                                <!-- <label id="labelDis" for="label">Nursing</label>
                        <select id="service" class="form-select"
                            aria-label="Default select example">
                            <option disabled [value]=0>-- select --</option>

                        </select> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label id="labelDis" for="label">Title </label>
                                <select id="branch" class="form-select" aria-label="Default select example">
                                    <option disabled [value]=0>-- select --</option>
                                </select>
                            </div>
                            <div class="col-sm-8">
                                <label id="labelDis" for="label"><strong></strong></label>
                                <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                    maxlength="100" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label id="labelDis" for="label">Gender</label>
                                <input id="ic#" type="text" class="form-control" aria-describedby="emailHelp"
                                    maxlength="100" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label id="labelDis" for="label">DOB</label>
                                <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                    maxlength="100" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label id="labelDis" for="label">Age</label>
                                <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                    maxlength="100" autocomplete="off">
                            </div>
                            <div class="col-sm-3 ">
                                <!-- <label id="labelDis" for="label">Nursing</label>
                        <select id="service" class="form-select"
                            aria-label="Default select example">
                            <option disabled [value]=0>-- select --</option>

                        </select> -->
                            </div>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card> &nbsp; &nbsp;


            <mat-card class="rounded-2xl ">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label style="color: #0075d4;">
                            <mat-icon svgIcon="assignment_ind" style="color: #0075d4;"></mat-icon>
                            <strong style="color: #0075d4;"> Personal Profile</strong>
                        </ng-template>
                        <mat-list-item style="font-size:large;font-weight: 700;">Personal
                            Details</mat-list-item>
                        <mat-divider></mat-divider>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">Religion</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label id="labelDis" for="label">Blood Group</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">Place Of Birth</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 ">
                                    <label id="labelDis" for="label">Patient Type</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row Top">
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">Nationality</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label id="labelDis" for="label">Email</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-2">
                                    <label id="labelDis" for="label">Race</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 ">
                                    <label id="labelDis" for="label">Language Spoken</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row Top">
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">Education</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">Occupation</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">Hand Phone</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 ">
                                    <label id="labelDis" for="label">Martial Status</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row Top">
                                <div class="col-sm-7 Top">
                                    <label id="labelDis" for="label"></label>
                                    <section class="example-section">
                                        <mat-checkbox class="example-margin">&nbsp; &nbsp;
                                            &nbsp;Organ Donor</mat-checkbox>
                                        <mat-checkbox class="example-margin">&nbsp; &nbsp;
                                            &nbsp;Can Speak English</mat-checkbox>
                                        <mat-checkbox class="example-margin">&nbsp; &nbsp;
                                            &nbsp;VIP Status</mat-checkbox>
                                    </section>
                                </div>
                                <div class="col-sm-4">
                                    <diV class="12 Top">
                                        <mat-list-item>Alert Type</mat-list-item>
                                        <section class="example-section">
                                            <mat-checkbox class="example-margin">&nbsp; &nbsp;
                                                &nbsp;Email</mat-checkbox>
                                            <mat-checkbox class="example-margin">&nbsp; &nbsp;
                                                &nbsp;Hand
                                                Phone(SMS)</mat-checkbox>
                                        </section>
                                    </diV>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label style="color: #0075d4;">
                            <mat-icon svgIcon="assignment" style="color: #0075d4;"></mat-icon>
                            <strong style="color: #0075d4;">Address</strong>
                        </ng-template>
                        <mat-list-item style="font-size:large;font-weight: 700;">Address's</mat-list-item>
                        <mat-divider></mat-divider>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">Line 1</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-2">
                                    <label id="labelDis" for="label">Line 2</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">Line 3</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-3 ">
                                    <label id="labelDis" for="label">Line 4</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                            </div>
                            <div class="row Top">
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">PostalCode</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-4">
                                    <label id="labelDis" for="label">Statecode</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-2">
                                    <label id="labelDis" for="label">City</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-2 ">
                                    <label id="labelDis" for="label">Country Code</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                            </div>
                            <div class="row Top">
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">Telephone 1</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">Telephone 1</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-3">
                                    <label id="labelDis" for="label">Address Type</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-2 Top right">
                                    <button mat-raised-button style="background-color:rgb(15, 204, 211);color:white">
                                        <i class="far fa-plus-square"></i> Add </button>
                                </div>
                            </div>
                        </div>
                        <div class="row Top">
                            <div class="col-sm-12">
                                <!-- <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="columnSno1" scope="col">S.No</th>
                                            <th class="columnSno1" scope="col">Line 1</th>
                                            <th class="columnSno1" scope="col">Line 1</th>
                                            <th class="columnSno1" scope="col">Line 1</th>
                                            <th class="columnSno1" scope="col">Line 1</th>
                                            <th class="columnSno1" scope="col">PostalCode</th>
                                            <th class="columnSno1" scope="col">Statecode</th>
                                            <th class="columnSno1" scope="col">City</th>
                                            <th class="columnSno1" scope="col">CountryCode</th>
                                            <th class="columnSno1" scope="col">Telephone 1</th>
                                            <th class="columnSno1" scope="col">Telephone 2</th>
                                            <th class="columnSno1" scope="col">AddressType</th>
                                            <th class="columnSno1" scope="col" *ngIf="!objAction.isView">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr >
                                            <td id="columnCenter"> 1</td>
                                            <td id="columnLeft"></td>
                                            <td id="columnLeft"></td>
                                            <td id="columnRight"></td>
                                            <td id="columnLeft"></td>
                                            <td id="columnLeft"></td>
                                            <td id="columnRight"></td>
                                            <td id="columnLeft"></td>
                                            <td id="columnLeft"></td>
                                            <td id="columnRight"></td>
                                            <td id="columnLeft"></td>
                                            <td id="columnLeft"></td>
                                            <td id="columnCenter" *ngIf="!objAction.isView">
                                                <i color="warn" style="color:red;cursor: pointer;"
                                                    class="material-icons">delete_forever</i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> &nbsp; -->


                                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
                                    style="background-color: #f5faff;;">
                                    <!-- Address Details Column -->
                                    <ng-container matColumnDef="line" style="background-color: #f5faff;;">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address's</th>
                                        <td mat-cell *matCellDef="let row">
                                            <strong></strong><br>
                                            <span *ngIf="row.line1"><strong>Line 1: </strong></span><br>
                                            <span *ngIf="row.line2"><strong> Line 2: </strong></span>
                                            <span *ngIf="row.line3"><strong> Line 3: </strong></span><br>
                                            <span *ngIf="row.line4"><strong> Line 4: </strong></span>
                                            <span *ngIf="row.postalcode"><strong> Postal Code: </strong></span>
                                            <span *ngIf="row.statecode"><strong> State Code: </strong></span>
                                            <span *ngIf="row.city"><strong> City: </strong></span>
                                            <span *ngIf="row.countrycode"><strong>Country Code: </strong></span><br>
                                            <span *ngIf="row.telephone1"><strong> Telephone 1: </strong></span>
                                            <span *ngIf="row.telephone2"><strong> Telephone 2: </strong></span><br>
                                            <span *ngIf="row.addresstype"><strong> Address Type: </strong></span>
                                        </td>
                                    </ng-container>

                                    <!-- Status Column -->

                                    <!-- Action Column -->
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef> Action </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-raised-button color="primary">Edit</button>
                                            <button mat-raised-button color="warn">Delete</button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                                </table>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label style="color: #0075d4;">
                            <mat-icon svgIcon="mat_outline:stream" style="color: #0075d4;"></mat-icon>
                            <strong style="color: #0075d4;">Next of Kin</strong>
                        </ng-template>
                        <mat-list-item style="font-size:large;font-weight: 700;">Next of Kin(Emergency Contact )
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <div class="card-body Top">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label id="labelDis" for="label">Contact Person</label>
                                    <input id="ic#" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-5">
                                    <label id="labelDis" for="label">Relation Ship</label>
                                    <select id="branch" class="form-select" aria-label="Default select example">
                                        <option disabled [value]=0>-- select --</option>

                                    </select>
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <label id="labelDis" for="label">Residential Tele# </label>
                                    <input id="ic#" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-5">
                                    <label id="labelDis" for="label">Office tele#</label>
                                    <input id="hrn" type="text" class="form-control" aria-describedby="emailHelp"
                                        maxlength="100" autocomplete="off">
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>


    </div>

</div>

<!-- <sat-popover #AccountName horizontalAlign="center" verticalAlign="above" closeTransition="500ms ease-out">
    <div class="info-wrapper satPop">
        <div class="row">
            <div class="col-sm-9">
                <mat-form-field class="w-100">
                    <input matInput placeholder='Search'  (keyup)="accountNameFilter()" type="text" name="filter">
                </mat-form-field>
            </div>
            <div class="col-sm-3" id="satTop">
                <mat-button-toggle-group id="group" #group="matButtonToggleGroup">
                    <mat-button-toggle color="primary" (click)='$event.stopPropagation(); AccountName.toggle();onSatPopClear();' id="iButton">
                        <mat-icon id="iconButton">
                            clear
                        </mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
</sat-popover> -->